<!DOCTYPE html>
<head>

    <title>App</title>
</head>
<body>
    <h1>App</h1>

    <button class='add-bill'>Add Bill</button>
    <input type='text' class='input-bill' name='Bill'></input>
    <input type='text' class='input-amount' name='Amount'></input>
</body>