<!DOCTYPE html>
<head>

    <title>Godfather</title>
</head>
<body>
    <h1>Godfather</h1>

    <button class='add-bill'>+ Add a Bill</button>
    <input type='text' class='input-bill'></input>
</body>