<button class='add-bill'>Add Bill</button>
<input type='text' class='input-bill' name='Bill'></input>
<input type='text' class='input-amount' name='Amount'></input>

<ul>
    {{#each bill in controller}}
        <li> {{bill.description}} </li>
    {{/each}}
</ul>