/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */



.completed{
    text-decoration: line-through;
}

body {
  padding: 45px 0 0 0;
  background-color: #FFFFFF; /* background for page */
  font-family: 'Open Sans', sans-serif;
}

h1 {
  margin: 10px 0 0 0;
  text-align: center;
  font-family: 'Roboto Slab', serif;
  font-size: 30px;
  color: #6BD791; /* NAVBAR TEXT in Index 'Housemate' */
}

.navbar-inverse {
  background-color: #000000; /* NAVBAR BACKGROUND 112F39*/
  border-color: #000000; 
}

.navbar-brand {
  padding: 3px 0px 0px 0px;
}

.navbar-brand img {
  padding: 3px 0 0 0;
  position: left;
  height: 40;
  width: 40px;
  margin-left: 20px;
}

#brand {
  padding: 0 0 0 10px;
}

.navbar-header {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.navbar-menu img {
  margin: 6px 0 0 0;
  position: absolute;
  right: 10px;
  top: 0px;
  height: 40px;
  width: 40px;
  padding: 0px 0px 0px 0px;
  margin-right: 20px;
}

.dropdown-menu{
    border-radius: 0px;
  background-color: #6BD791;
 /* border-width: 1px;
  border-color: #2A2A2A;*/
  margin-bottom: 14px;
}

blockquote {
padding: 15px 70px;
margin: 0 0 20px;
font-size: 17.5px;
border-left: none;
text-align: right;
}

h2 {
  font-size: 20px;
  font-weight: bold;
  padding: 50px 50px 7px 47px;
  color: #2A2A2A; /* YOUR BILLS TEXT - index */
}

h3 {
  font-family: 'Roboto Slab', serif;
  font-size: 30px;
  padding: 50px 50px 7px 47px;
  color: #6BD791; /*Quote text in sign_up*/
}

h4 {
  padding: 7px 50px 7px 47px; /* Quote text author in sign_up */
}

/*h5 {
  font-size: 20px;
  font-weight: bold;
  padding: 50px 50px 7px 47px;
  color: #2A2A2A;
}*/

p {
  font-size: 20px;
  padding: 7px 50px 7px 47px;
  height: 30px;
  color: #2A2A2A;
  margin: 50px -5px 15px;
} /*Enter home and  housemates in abode */ 

form {
  display: block;
  padding: 7px 50px 7px 42px;
}

form.input:focus::-webkit-input-placeholder
{
  color: transparent;
}

.form-inline .form-group > div.col-xs-8 {
    padding-left: 0;
    padding-right: 0;
}

.form-inline label {
    line-height: 34px;
}

.form-inline .form-control {
    width: 100%;
}

@media (min-width: 768px) {
  .form-inline .form-group {
    margin-bottom: 15px;
  }
} 

.form-control:focus {
  border-color: inherit;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.form-control{
  background-color: #FFFFFF; /* BACKGROUND FOR FORM */
  color: #000;
  box-shadow: none;
  border-radius: 0px;
  border-width: 1px;
  border-color: #2A2A2A;
}

.input-group-addon {
  background-color: #FFFFFF; /* BACKGROUND FOR £ */
  border-width: 1px;
  border-radius: 0px;
  border-color: #2A2A2A;
}


.btn { 
  border-radius: 0px;
  background-color: #6BD791;
  border-width: 1px;
/*  border-color: #2A2A2A;
*/  margin-bottom: 14px;
}


a:link, a:hover, a:visited {
  font-weight: bold;
  text-decoration: none;
  color: #2A2A2A; /* TEXT IN TABLE */
}

ul.lst {
    list-style-type: none;
    height: 300px;
    margin: 10px 42px 10px 42px;
    margin-top: 30px;
    margin-left: 4px;
    margin-right: 42px;
    margin-bottom: 50px;
    overflow: auto;
    background-color: #FFFFFF; /* BACKGROUND FOR TABLE */
    padding-left: 40px;
    padding-right: 40px;
}

ul.lst li a {
  display: block;
  padding: 7px 7px 7px 7px;
  border-bottom: 1px solid #161616; /* LINES IN TABLE */
  overflow: hidden;
}

ul.lst li span {
  float: left;
  width: 75%;
  padding: 0 0 0 10px;
}

ul.lst li em {
  float: right;
  font-style: normal;
  font-weight: normal;
  color: #2A2A2A; /* £ AMOUNTS IN TABLE */
  padding: 0 10px 0 0;
}

ul.lst::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
}

ul.lst::-webkit-scrollbar-thumb {
    border-radius: 0px;
    background-color: #161616;
}

ul.totals{
  list-style-type: none;
  display: block;
  font-size: 20px;
  text-indent: 0px;
  font-family: 'Open Sans', sans-serif;
  margin: 0px 87px 0px 0px;
  padding-left: 40px;
  border: 1px;
  border-color: #000000;
  }

ul.totals li {
  position: relative;
  margin: 20px 0 20px 2px;
/*  -webkit-transition: font-size 0.3s ease, background-color 0.3s ease;
  -moz-transition: font-size 0.3s ease, background-color 0.3s ease;
  -o-transition: font-size 0.3s ease, background-color 0.3s ease;
  -ms-transition: font-size 0.3s ease, background-color 0.3s ease;*/
  transition: font-size 0.3s ease, background-color 0.3s ease;
}

ul.totals li a {
  position: relative;
  padding: 5px;
  z-index: 100;
  color: #2A2A2A; /* TEXT IN TOTALS */
}

ul.totals li span {
  position: absolute;
  left: 0;
  height: 100%;
  background-color:#eee;
  background: #6BD791; /* BACKGROUND % BAR */
}

ul.totals li:hover {
  font-size: 30px;
  border-color: #FFFFFF;
}

.btn-group > .btn:first-child {
margin-left: 56px;
}
.btn-group.open .dropdown-toggle {
-webkit-box-shadow: none; 
box-shadow: inset none; 
background-color: #fff;
border-color: #000000;
}

#pay {
  margin: -15px 0px 0;
  border-radius: 0px;
  border-color: #000000;
  background-color: #6BD791;
 /* border-width: 1px;
  border-color: #2A2A2A;*/
  margin-bottom: 14px;
  width: 75%;
}

