body {
  padding: 45px 0 0 0;
  background-color: #FFFFFF; /* background for page */
  font-family: 'Open Sans', sans-serif;
}

h1 {
  margin: 0 0 0 0;
  text-align: center;
  font-family: 'Roboto Slab', serif;
  font-weight: bolder;
  font-size: 40px;
  color: #FFFFFF; /* NAVBAR TEXT */
}


.navbar-inverse {
  background-color: #000000; /* NAVBAR BACKGROUND */
  border-color: #000000; 
}

.navbar-brand {
  padding: 3px 0px 0px 12px;
}

.navbar-brand img {
  position: left;
  width: 45px;
}

.navbar-header {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.navbar-menu img {
  position: absolute;
  top: 2px;
  right: 12px;
  height: 45px;
  width: 45px;
  padding: 0px 0px 0px 0px;
}

h2 {
  font-family: 'Roboto Slab', serif;
  padding: 7px 50px 7px 47px;
  color: #000000; /* YOUR BILLS TEXT */
}

h3 {
  font-family: 'Roboto Slab', serif;
  font-size: 23px;
  padding: 7px 50px 7px 47px;
  height: 10px;
}

h4{
  padding: 7px 50px 7px 47px;
}

form {
  display: block;
  padding: 7px 50px 7px 42px;
}

.form-control{
  background-color: #FFFFFF; /* BACKGROUND FOR FORM */
  color: #FFFFFF;
  border-top: 0px;
  border-right: 0px;
  border-bottom: 0px;
  border-left: 0px;
  box-shadow: none;
  border-radius: 0px;
}

.input-group-addon {
  background-color: #FFFFFF; /* BACKGROUND FOR £ */
  border-top: 0px;
  border-right: 0px;
  border-bottom: 1px #000000; 
  border-left: 0px;
  box-shadow: none;
}

a:link, a:hover, a:visited {
  font-weight: bold;
  text-decoration: none;
  color: #000000; /* TEXT IN TABLE */
}

ul.lst {
    list-style-type: none;
    height: 100px;
    margin: 10px 42px 10px 42px;
    margin-left: 4px;
    margin-right: 42px;
    overflow: auto;
    background-color: #FFFFFF; /* BACKGROUND FOR TABLE */
/*    border-radius: 5px;*/
    padding-left: 40px;
    padding-right: 40px;
}

ul.lst li a {
  display: block;
  padding: 7px 7px 7px 7px;
  border-bottom: 1px solid #000000; /* LINES IN TABLE */
  overflow: hidden;
}

ul.lst li span {
  float: left;
  width: 75%;
  padding: 0 0 0 10px;
}

ul.lst li em {
  float: right;
  font-style: normal;
  font-weight: normal;
  color: #000000; /* £ AMOUNTS IN TABLE */
  padding: 0 10px 0 0;
}

ul.totals{
  list-style-type: none;
  display: block;
  font-size: 20px;
  text-indent:  0px;
  font-family: 'Open Sans', sans-serif;
}

ul.totals li {
  position: relative;
  margin: 0 0 10px 2px;
/*  -webkit-transition: font-size 0.3s ease, background-color 0.3s ease;
  -moz-transition: font-size 0.3s ease, background-color 0.3s ease;
  -o-transition: font-size 0.3s ease, background-color 0.3s ease;
  -ms-transition: font-size 0.3s ease, background-color 0.3s ease;*/
  transition: font-size 0.3s ease, background-color 0.3s ease;
}

ul.totals li a {
  position: relative;
  padding: 5px;
  z-index: 100;
  color: #FFFFFF; /* TEXT IN TOTALS */

}

ul.totals li span {
  position: absolute;
  left: 0;
  height: 100%;
  background: #000000; /* BACKGROUND % BAR */
/*  border-radius: 5px;*/
}

ul.totals li:hover {
  font-size: 30px;
  border-color: #FFFFFF;

}

.btn-default {
  background-color: #FFFFFF; /* BUTON BACKGROUND */
  color: #000000; /* TEXT IN BUTONS */
  font-weight: bolder;
  font-size: 20px;
  border-color: #FFFFFF;

}

.btn-group > .btn:first-child {
  margin-left: 40px;
  font-size: 30px;
}

.btn-default:hover{
  background-color: #FFFFFF;  /* BUTON BACKGROUND */
  border-color: #FFFFFF 

}

.open > .dropdown-toggle.btn-default {
 color: #000000;
 background-color: #FFFFFF; 
 border-color: #FFFFFF; 
}


.dropdown-menu{
  background-color: #FFFFFF;  /* BUTON BACKGROUND */
  color: #000000; /* TEXT IN BUTONS */
}
