body {
  padding: 45px 0 0 0;
  background-color: #FFFFFF; /* background for page */
  font-family: 'Open Sans', sans-serif;
}

h1 {
  margin: 10px 0 0 0;
  text-align: center;
  font-family: 'Roboto Slab', serif;
  font-size: 30px;
  color: #6BD791; /* NAVBAR TEXT in Index 'Housemate' */
}

.navbar-inverse {
  background-color: #000000; /* NAVBAR BACKGROUND 112F39*/
  border-color: #000000; 
}

.navbar-brand {
  padding: 3px 0px 0px 0px;
}

.navbar-brand img {
  padding: 0 0 0 0;
  position: left;
  width: 45px;
}

#brand {
  padding: 0 0 0 10px;
}

.navbar-header {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.navbar-menu img {
  position: absolute;
  right: 10px;
  top: 2px;
  height: 45px;
  width: 45px;
  padding: 0px 0px 0px 0px;
}

.dropdown-menu{
    border-radius: 0px;
  background-color: #6BD791;
  border-width: 1px;
  border-color: #2A2A2A;
  margin-bottom: 14px;
}

blockquote {
padding: 15px 70px;
margin: 0 0 20px;
font-size: 17.5px;
border-left: none;
text-align: right;
}

h2 {
  font-size: 20px;
  font-weight: bold;
  padding: 50px 50px 7px 47px;
  color: #2A2A2A; /* YOUR BILLS TEXT - index */
}

h3 {
  font-family: 'Roboto Slab', serif;
  font-size: 30px;
  padding: 50px 50px 7px 47px;
  color: #6BD791; /*Quote text in sign_up*/
}

h4 {
  padding: 7px 50px 7px 47px;
}

h5 {
  font-size: 20px;
  font-weight: bold;
  padding: 50px 50px 7px 47px;
  color: #2A2A2A;
}

p {
  font-size: 20px;
  padding: 7px 50px 7px 47px;
  height: 30px;
  color: #2A2A2A;
  margin: 50px -6px 15px;
} /*Enter home and  housemates in abode */ 


form {
  display: block;
  padding: 7px 50px 7px 42px;
}

form.input:focus::-webkit-input-placeholder
{
  color: transparent;
}

.form-inline .form-group > div.col-xs-8 {
    padding-left: 0;
    padding-right: 0;
}

.form-inline label {
    line-height: 34px;
}

.form-inline .form-control {
    width: 100%;
}

@media (min-width: 768px) {
  .form-inline .form-group {
    margin-bottom: 15px;

  }
} 
 
.form-control:focus::-webkit-input-placeholder {
  transition: text-indent 0.5s 0.5s ease; 
  text-indent: -100%;
  opacity: 1;
}

.form-control{
  background-color: #FFFFFF; /* BACKGROUND FOR FORM */
  color: #FFFFFF;
  box-shadow: none;
  border-radius: 0px;
  border-width: 1px;
  border-color: #2A2A2A;
}

.input-group-addon {
  background-color: #FFFFFF; /* BACKGROUND FOR £ */
  border-width: 1px;
  border-radius: 0px;
  border-color: #2A2A2A;
}


.btn { 
  border-radius: 0px;
  background-color: #6BD791;
  border-width: 1px;
  border-color: #2A2A2A;
  margin-bottom: 14px;
}

/*@media (min-width:768px.) { 
  .btn-default {
  border-radius: 0px;
  background-color: #6BD791;
  border-color: #2A2A2A;
}*/

a:link, a:hover, a:visited {
  font-weight: bold;
  text-decoration: none;
  color: #2A2A2A; /* TEXT IN TABLE */
}

ul.lst {
    list-style-type: none;
    height: 100px;
    margin: 10px 42px 10px 42px;
    margin-top: 30px;
    margin-left: 4px;
    margin-right: 42px;
    margin-bottom: 50px;
    overflow: auto;
    background-color: #FFFFFF; /* BACKGROUND FOR TABLE */
    padding-left: 40px;
    padding-right: 40px;
}

ul.lst li a {
  display: block;
  padding: 7px 7px 7px 7px;
  border-bottom: 1px solid #161616; /* LINES IN TABLE */
  overflow: hidden;
}

ul.lst li span {
  float: left;
  width: 75%;
  padding: 0 0 0 10px;
}

ul.lst li em {
  float: right;
  font-style: normal;
  font-weight: normal;
  color: #2A2A2A; /* £ AMOUNTS IN TABLE */
  padding: 0 10px 0 0;
}

ul.lst::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
}

ul.lst::-webkit-scrollbar-thumb {
    border-radius: 0px;
    background-color: #161616;
}

ul.totals{
  list-style-type: none;
  display: block;
  font-size: 20px;
  text-indent:  0px;
  font-family: 'Open Sans', sans-serif;
  border-top: 1px solid #161616;
  margin: 0px 80px 0px 39px;
  padding-left: 0px;
}

ul.totals li {
  position: relative;
  margin: 20px 0 20px 2px;
/*  -webkit-transition: font-size 0.3s ease, background-color 0.3s ease;
  -moz-transition: font-size 0.3s ease, background-color 0.3s ease;
  -o-transition: font-size 0.3s ease, background-color 0.3s ease;
  -ms-transition: font-size 0.3s ease, background-color 0.3s ease;*/
  transition: font-size 0.3s ease, background-color 0.3s ease;
}

ul.totals li a {
  position: relative;
  padding: 5px;
  z-index: 100;
  color: #2A2A2A; /* TEXT IN TOTALS */
}

ul.totals li span {
  position: absolute;
  left: 0;
  height: 100%;
  background: #6BD791; /* BACKGROUND % BAR */
}

ul.totals li:hover {
  font-size: 30px;
  border-color: #FFFFFF;
}

ul.pay {
  color: #2A2A2A;
  text-align: left;
  display: inline;
  margin: 57px;
  padding: 15px 4px 17px 0;
  border-style: solid;
  border-width: 1px;
  border-color: #2A2A2A;
}
ul.pay li {
  display: inline-block;
  margin-right: -4px;
  position: relative;
  padding: 15px 20px;
  background: #fff;
  cursor: pointer;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}
ul.pay li:hover {
  background: #555;
  color: #fff;
}
ul.pay   li ul {
  padding: 0;
  position: absolute;
  box-shadow: none;
  top: 48px;
  left: -1px;
  width: 181px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  display: none;
  opacity: 0;
  visibility: hidden;
  -webkit-transiton: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  -ms-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  -transition: opacity 0.2s;
}
ul.pay   li ul li { 
  background: #6BD791; 
  display: block; 
  color: #fff;
/*  text-shadow: 0 -1px 0 #000;
*/}
ul.pay li ul li:hover { background: #666; }
ul li:hover ul {
  display: block;
  opacity: 1;
  visibility: visible;
}
