.active {
  font-family: 'Roboto Slab', serif;
}

body {
	padding: 45px 0 0 0;
}

.navbar-brand {
  padding: 3px 0px 0px 12px;
}

.navbar-brand img {
  position: left;
  width: 45px;
}

.navbar-menu img {
  position: absolute;
  top: 2px;
  right: 12px;
  height: 45px;
  width: 45px;
  padding: 0px 0px 0px 0px;
}
h2 {
  font-family: 'Roboto Slab', serif;
  padding: 7px 50px 7px 47px;
}

form {
   display: block;
  padding: 7px 50px 7px 47px;
}

a:link, a:hover, a:visited {
  font-weight: bold;
  text-decoration: none;
  color: #3792b3;
}

ul.lst {
    list-style-type: none;
}

ul.lst li a {
  display: block;
  padding: 7px 50px 7px 7px;
  border-bottom: 1px solid #f3f2e8;
  overflow: hidden;
}

ul.lst li span {
  float: left;
  width: 75%;
}

ul.lst li em {
  float: right;
  font-style: normal;
  font-weight: normal;
  color: #9c836e;
}

ul.totals{
  list-style-type: none;
  display: block;
  font-size: 20px;
  text-indent:  0px;
}

ul.totals li {
  position: relative;
  margin: 0 0 10px 2px;
/*  -webkit-transition: font-size 0.3s ease, background-color 0.3s ease;
  -moz-transition: font-size 0.3s ease, background-color 0.3s ease;
  -o-transition: font-size 0.3s ease, background-color 0.3s ease;
  -ms-transition: font-size 0.3s ease, background-color 0.3s ease;*/
  transition: font-size 0.3s ease, background-color 0.3s ease;
}

ul.totals li a {
  position: relative;
  padding: 5px;
  z-index: 100;
}

ul.totals li span {
  position: absolute;
  left: 0;
  height: 100%;
  background: #f3f2e8;
}

ul.totals li:hover {
  font-size: 30px;
}

#dropdownMenu1 {
  padding: 15px 170px;
  position: absolute;
  left: 57px;
  background-color: #BF202E;
  font-size: 29px;
  font-weight: bold;
}
