<!DOCTYPE html>
<html>
<head>
  <title>Project Godfather</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>

<body>

    <%= yield %>

    <main id="ember-app"></main>

</body>

</html>
